.color {
    width: 100%;
    height: 40px;
    margin: 0px;
    /* border-radius: 15px 15px 0px 0px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10px;
}

.color p {
    font-size: 12px;
    font-weight: bold;
}


/* Apply border-radius to the first child */
.color:first-child {
    border-radius: 15px 15px 0px 0px;
}

/* Apply border-radius to the last child */
.color:last-child {
    border-radius: 0px 0px 15px 15px;
}
